<!-- views/partials/header.ejs -->

  <nav class="navbar navbar-expand text-black navbar-light bg-primary">

  <a class="navbar-brand" href="#">Hotel Atlas</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto text-white">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reserve">Reserve</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/voucher">Voucher</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Report
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Daybook</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="#">View Daybook</a>
              <a class="dropdown-item" href="#">Alter Daybook</a>
            </ul>
          </li>
             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Ledger</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="#">View Ledger</a>
              <a class="dropdown-item" href="#">Alter Ledger</a>
            </ul>
          </li>

          <li><a class="dropdown-item" href="#">Trial Balance</a></li>
          <li><a class="dropdown-item" href="#">Balance Sheet</a></li>

         
        </ul>
      </li>
    </ul>
  </div>
</nav>